body {
    margin: 0 0;
    font-family: Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #050709;
    
}

.image {
    height : 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-left: 3vw;
}

#about-me {
    background-color: rgb(155, 155, 155);
    border-radius: 15px;
    position: absolute;
    top: 20%;
    padding: 10px;
    width: 49%;
    min-height: 1rem;
}

ul {
    margin: 0 0;
    padding-top: 20%;
}

li {
    background-color: rgb(155, 155, 155);
    border-radius: 15px;
    padding-right: 10px;
    width: fit-content;
    list-style-type: none;
    min-height: 1rem;
}

.img1 {
    background-image: url(./pics/messy-desk.jpg);
    border-bottom: 12px solid #2a2a2a;
}

.img2 {
    background-image: url(./pics/page-from-future.jpg);
    border-bottom: 12px solid #2a2a2a;
}

.img3 {
    background-image: url(./pics/python-gearwheels.jpg);
}

a {
    text-decoration: none;
    color: #050709;
}

li:hover, li:active, li:focus {
    transform: scale(1.1);
}

footer {
    background-color: #2a2a2a;
    height: 6vh;
    margin-top: 0;
    color: azure;
}

p {
    margin-top: 0;
    margin-left: 3vw;
}

.left-bar {
    height: 100%;
    width: 3vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2a2a2a;
    overflow-x: hidden;
    padding-top: 20px;
}

@media (max-width: 800px) {
    .left-bar {
        width: 10vw;
    }
}

.icon {
    height: 2rem;
    background-color: aliceblue;
    position: absolute;
}

.github {
    left: 10%;
    top: 30%;
}

.linked {
    left: 10%;
    top: 36%;
}

.icon:hover {
    color: #111;
    background: greenyellow;
    box-shadow: 0 0 35px rgb(99, 255, 67);
}