body {
    margin: 0 0;
    font-family: Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #050709;
    
}

.image {
    height : 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-left: 3vw;
}

#about-me {
    background-color: rgb(155, 155, 155);
    border-radius: 15px;
    position: absolute;
    top: 20%;
    padding: 10px;
    width: 49%;
    min-height: 1rem;
}

.img1 {
    background-image: url(./pics/messy-desk.jpg);
}

.img2 {
    background-image: url(./pics/page-from-future.jpg);
}

.img3 {
    background-image: url(./pics/python-gearwheels.jpg);
}

a {
    text-decoration: none;
    color: azure;
}

footer {
    background-color: #2a2a2a;
    height: 6vh;
    margin-top: 0;
    color: azure;
}

p {
    margin-top: 0;
    margin-left: 3vw;
}

.left-bar {
    height: 100%;
    width: 3vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2a2a2a;
    overflow-x: hidden;
    padding-top: 20px;
}
