body {
    margin: 0 auto;
}

.image {
    height : 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.img1 {
    background-image: url(./pics/with_cat.jpg);
}

.img2 {
    background-color: rgb(38, 37, 37);
    height: 20vh;
}

.img3 {
    background-image: url(./pics/cat_brydzia.jpg);
}
